<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Books, Movies and Music Search Results</title>
</head>
<body>
    <thead><h2><a href="booksmoviesandmusic.html">Back to Books, Movies and Music page</a></h2></thead>

        {% if searched %}

                    
            {% if instances %}
                <h1>We found {{number}} books, movies or music containing {{searched}}</h1>
                    {% for inst in instances reversed %}
                                <td><a href="">
                                    <img src="{{inst.image.url}}" width=200 height=200>
                                </a></td>
                            <tbody>
                                <div>
                                    <tr>
                                        <h3><td>{{inst.item_name}}</td></h3>
                                    </tr>
                                </div>
                            </tbody>
                    {% endfor %}
            {% else %}
                <h1>We found no Books, Movies and Music containing {{searched}}</h1>
                <h1>You can check out our other Books, movies and Music</h1>
            {% endif %}

        {% else %}

        {% endif%}




</body>
</html>