{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="UTF-8">
 <meta name="viewport" content="width=device-width, initial-scale=1.0">
 <title>Categories</title>
</head>
<body>

    <h1>   These are the categories of products we have to offer </h1>
    <h1>
        <div>
            <div>
                <a href="appliances.html">Appliances</a>
            </div>
            <div>
                <a href="babyproducts.html">Baby Products</a>
            </div>
            <div>
                <a href="booksmoviesandmusic.html">Books, Movies and Music</a>
            </div>
            <div>
                <a href="computing.html">Computing</a>
            </div>
            <div>
                <a href="electronics.html">Electronics</a>
            </div>
            <div>
                <a href="fashion.html">Fashion</a>
            </div>
            <div>
                <a href="gaming.html">Gaming</a>
            </div>
            <div>
                <a href="gardenandoutdoors.html">Garden and Outdoors</a>
            </div>
            <div>
                <a href="healthandbeauty.html">Health and Beauty</a>
            </div>
            <div>
                <a href="homeandoffice.html">Home and office</a>
            </div>
            <div>
                <a href="industrialandscientific.html">Industrial and Scientific</a>
            </div>
            <div>
                <a href="musicalinstruments.html">Musical Instruments</a>
            </div>
            <div>
                <a href="petsupplies.html">Pet Supplies</a>
            </div>
            <div>
                <a href="phonesandtablets.html">Phones and Tablets</a>
            </div>
            <div>
                <a href="sportinggoods.html">Sporting Goods</a>
            </div>
            <div>
                <a href="supermarket.html">Supermarket</a>
            </div>
        </div>
        </h1>
</body>
</html>