<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Software Search Results</title>
</head>
<body>
    <thead><h2><a href="apps.html">Back to softwares page</a></h2></thead>

        {% if searched %}

                    
            {% if instances %}
                <h1>We found {{number}} software(s) containing {{searched}}</h1>
                    {% for inst in instances reversed %}
                        {% if user.is_authenticated %}
                            {% if inst.image %}
                                <td><a href="{{inst.file.url}}" download="{{inst.file.url}}">
                                    <img src="{{inst.image.url}}" width=200 height=200>
                                </a></td>
                            {% else %}
                                <td><a href="{{inst.file.url}}" download="{{inst.file.url}}">
                                    <img src="Templates/alien.bmp" width=200 height=200>
                                </a></td>
                            {% endif %}
                        {% else %}
                            {% if inst.image %}
                                <td>
                                    <img src="{{inst.image.url}}" width=200 height=200>
                                </td>
                            {% else %}
                                <td>
                                    <img src="Templates/alien.bmp" width=200 height=200>
                                </td>
                            {% endif %}
                        {% endif%}
                            <tbody>
                                <div>
                                    <tr>
                                        <h3><td>{{inst.title}}</td></h3>
                                    </tr>
                                </div>
                            </tbody>
                    {% endfor %}
            {% else %}
                <h1>We found no software(s) containing {{searched}}</h1>
                <h1>You can check out our other softwares</h1>
            {% endif %}

        {% else %}

        {% endif%}




</body>
</html>