{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Movies</title>
</head>
<body>
    <div>
        <thead><a href="/">Home</a></thead>
        <thead><a href="books.html">Books</a></thead>
        <thead><a href="movies.html">Videos</a></thead>
        <thead><a href="misc.html">Others</a></thead>
        <thead><a href="apps.html">Softwares</a></thead>
        <thead><a href="requests2.html">Pending Requests</a></thead>
        <thead><a href="signup.html">Register</a></thead>
        {% if user.is_authenticated %}
        <thead>
            <a href="movieUpload.html">Upload movies</a>
        </thead>
        <thead>
            <a href="movieRequest.html">Request movies</a>
        </thead>
        <thead><a href="/logout">Log out</a></thead>
        {% else %}
        <thead><a href="login.html">Log in</a></thead>
        {% endif%}
        <form action="{% url 'moviesearch' %}" method="POST">
            {% csrf_token %}
            <thead>
                <input class="form-control me-2" placeholder="Search Movies" 
                type="search" aria-label="Search Movies" name="searched">
            </thead>
            <thead>
                <button class="btn btn-outline-secondary" type="submit">Search Movies</button>
            </thead>
        </form>
        
        
    </div>
    
    <h1>Feel free to browse through our collection of movies. You might find something you like</h1>
    <div>
        <table>
            {% for inst in instance reversed %}
            <div>
                <tr>
                    {% if user.is_authenticated %}
                        {% if inst.image %}
                <td><a href="{{inst.file.url}}" download="{{inst.file.url}}">
                    <img src="{{inst.image.url}}" width=200 height=200>
                </a></td>
                        {% else %}
                <td><a href="{{inst.file.url}}" download="{{inst.file.url}}">
                    <img src=" {% static 'Templates/alien.bmp' %}" width=200 height=200>
                </a></td>
                        {% endif %}
                    {% else %}
                        {% if inst.image %}
                <td>
                    <img src="{{inst.image.url}}" width=200 height=200>
                </td>
                        {% else %}
                <td>
                    <img src="{% static 'Templates/alien.bmp' %}" width=200 height=200>
                </td>
                        {% endif %}
                    {% endif%}

                </tr>
            </div>
            <div>
                <tr>
                    <h3><td>{{inst.title}}</td></h3>
                </tr>
            </div>
            {% endfor %}
        </table>
    </div>
</body>
</html>